@{
    ViewBag.Title = "Задание";
}
<h3>@ViewBag.Title</h3>

<h3>Тестовое задание ASP.NET MVC + SQL</h3>
<h5>
    1.	Создать базу данных MS SQL с четырьмя таблицами
</h5>
<h5>
    2.	Клиенты:
</h5>
<p>
    •	Код клиента
</p>
<p>
    •	Наименование
</p>
<p>
    •	Адрес
</p>
<p>
    •	Категория (ВИП, Топ, Средний, Обычный)
</p>
<h5>
    Товары
</h5>
<p>
    •	Код товара
</p>
<p>
    •	Наименование
</p>
<h5>
    Заказы:
</h5>
<p>
    •	Код заказа
</p>
<p>
    •	Код клиента
</p>
<p>
    •	Дата
</p>
<h5>
    Строки заказа:
</h5>
<p>
    •	Код строки
</p>
<p>
    •	Код заказа
</p>
<p>
    •	Код товара
</p>
<p>
    •	Цена
</p>
<p>
    •	Количество
</p>
<p>
    •	Сумма
</p>
<p>
    3.	Создание базы данных должно происходить автоматически при запуске приложения, в инициализаторе контекста. После создания база данных должна наполняться тестовыми данными с помощью хранимой процедуры. Процедура должна генерировать сотню клиентов с названиями «Клиент 1… Клиент 100», пять тысяч товаров с названиями «Товар 1… Товар 5000», и для каждого клиента от 5 до 50 заказов, в каждом от 1 до 100 товаров.
</p>

<p>
    4.	Разработать ASP.NET MVC сайт с тремя страницами. На первой странице – грид со списком клиентов, наименованием, адресом и общей суммой по заказам.
</p>
<p>
    5.	На второй странице – детализация по заказам клиентов, открывается при клике на наименовании клиента.
</p>
<p>  6.	На третьей странице статистика по категориям клиентов, в колонках отображать наименование категории ВИП, Топ, Средний, Обычный. В строках по каждой категории количество клиентов, сумму по всем заказам. Переход на третью страницу по ссылке с первой.</p>
<p>  7.	Разработать триггер, который автоматически обновляет классификаторы по клиентам, до 5 заказов обычный, до 30 заказов средний, до 40 заказов топ, выше ВИП. Триггер должен запускаться при добавлении/удалении заказов.</p>
<p>  8.	Отображение данных реализовать через представления.</p>
<p>  9.	Особое внимание должно быть уделено быстродействию модели данных: не должно быть существенных задержек при открытии страниц.</p>
<p>
    Инструменты – Visual Studio 2008-2015, MS SQL Server любой редакции от 2005.
</p>

