@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h4>Developer:</h4>
<address>
    Roman Zabarniy<br />
    <strong>Tel:</strong>
    (063) 235 88 14 
</address>

<address>
    <strong>E-Mail:</strong> <a href="mailto:zaro.itstep@gmail.com">zaro.itstep@gmail.com</a>
</address>