@{
    ViewBag.Title = "Список клиентов";
}


<div class="row">
    <div class="col-md-12">
        <h3>Список клиентов</h3>
        <table>
            <tr>
                <td><p>Имя</p></td>
                <td><p>Адрес</p></td>
                <td><p>Сумма по заказам</p></td>
                <td></td>
            </tr>
            @foreach (var с in ViewBag.Clients)
            {
                <tr>
                    <td><p><a href="/Home/Orders/@с.ClientId"> @с.Name</a></p></td>
                    <td><p>@с.Adress</p></td>
                    <td><p>@с.SumOrders</p></td>
                </tr>
            }
        </table>
    </div>
</div>