@{
    ViewBag.Title = "Список клиентов";
}


<div class="row">
    <div class="col-md-12">
        <h3>Список клиентов</h3>
        <table>
            <tr>
                <td><p>Имя</p></td>
                <td><p>Адрес</p></td>
                <td><p>Категория</p></td>
                <td></td>
            </tr>
            @foreach (var с in ViewBag.Clients)
            {
                <tr>
                    <td><p>@с.Name</p></td>
                    <td><p>@с.Adress</p></td>
                    <td><p>@с.Category</p></td>
                    @*<td><p><a href="/Home/Buy/@с.Id">Купить</a></p></td>*@
                </tr>
            }
        </table>
    </div>
</div>