<script src="~/Scripts/Share.js" onload="InitCurrentClient('@ViewBag.Client.ClientId')"></script>
<script src="~/Scripts/detailOrder.js"></script>

@{
    ViewBag.Title = "Заказы";
}

<h4><span>Заказы </span><span>@ViewBag.Client.Name:</span> </h4>
<div>
    <div id="loadPict" class="col-md-offset-4">
        <img style="position:page" src="~/Content/294.gif" />
    </div>
</div>
<div id ="tableContainer" class="dataContainer data"></div>

